In [13]:
import pandas as pd
import numpy as np
from pathlib import Path

from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [14]:
#importing Austins feture engineered Bank Churn Dataframe

starter_df = pd.read_csv(Path("../Resources/BankChurnedit1.csv"))
starter_df

,Unnamed: 0,Status,Gender,Education,Income,Card Type,Months_Inactive_12_mon,Total_Revolving_Bal,Avg_Utilization_Ratio,MaritalDependentRatio,CreditUsage,AvgTransValue,TenureByAge
0,0,1,0,1,3,0,1,777,0.061,0.25,0.94,27.24,0.87
1,4,1,0,0,3,0,1,0,0.000,0.25,1.00,29.14,0.52
2,8,1,0,0,3,0,2,2517,0.113,0.12,0.89,56.25,0.97
3,12,1,0,2,2,0,6,0,0.000,0.25,1.00,90.53,0.64
4,16,1,0,3,2,0,2,2362,0.078,0.10,0.92,61.89,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4485,10113,-1,0,1,3,0,3,2517,0.189,0.50,0.81,120.22,1.33
4486,10115,1,0,0,1,0,3,1558,0.276,0.25,0.72,152.55,0.95
4487,10116,1,0,2,2,0,2,2241,0.170,0.08,0.83,137.09,0.78
4488,10120,1,0,1,3,0,2,2109,0.151,0.25,0.85,136.64,0.63
4489,10124,-1,1,1,0,0,3,0,0.000,0.50,1.00,171.52,0.82

In [15]:
#X will be only Total_Revolving_Bal
y = starter_df['Status']
X = starter_df['Total_Revolving_Bal']

In [16]:
#Split features and target in to training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [17]:
#Use SMOTE to add synthetic data and balance our target feature value count
oversample = SMOTE()
X_train, y_train = oversample.fit_resample(X_train, y_train)

In [18]:
#Choose a model
clf = SVC()
#clf = LogisticRegression()
#clf = RandomForestClassifier(n_estimators= 2000)

In [19]:
#Fit
clf.fit(X_train, y_train)

SVC()

In [20]:
#Predict
test_predictions = clf.predict(X_test)

In [21]:
# Evaluate the model's performance
accuracy = accuracy_score(test_predictions, y_test)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 73.37%

In [22]:
test_matrix = confusion_matrix(y_test, test_predictions)
print(test_matrix)

[[132  60]
 [239 692]]

In [23]:
testing_report = classification_report(y_test, test_predictions)
print(testing_report)

              precision    recall  f1-score   support

          -1       0.36      0.69      0.47       192
           1       0.92      0.74      0.82       931

    accuracy                           0.73      1123
   macro avg       0.64      0.72      0.65      1123
weighted avg       0.82      0.73      0.76      1123